/* About.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scroll bar */
  }
  
  .main {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    
    box-sizing: border-box; /* Includes border in width/height */
    display: flex;
    justify-content: center;
  }

.FAQ-box{
    background-image: url('./FAQ.jpg');
    height: 100vh;
    width: 75vw;
    background-size: contain;
}
  